@charset "UTF-8";

body {
	font: 14px/1.8 Arial, Helvetica, sans-serif;
}

.frame {
	width: auto;
	height: 1190px;
	margin: 0 auto;
	border: 1px solid #aaa;
}

.header {
	padding: 30px 10px;
	text-align: center;
	background: white;
	margin-bottom: 20px;
}

.container {
	overflow: hidden;
}

.nav {
	float: left;
	width: 200px;
	background: #333;
	color: #fff;
	font-size: 18px;
	margin-right: 50px;
	margin-top: 1px;
	margin-left: 80px;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 25px 0;
}

.nav-item {
	margin: 15px 0;
}

.nav-link {
	display: block;
	text-decoration: none;
	padding: 4px 10px;
	color: #fff;
}

.nav-link:hover {
	background: #5457de;
}

.content {
	float: left;
	width: 1400px;
	height: 500px;
	align-content: center;
	overflow-y: scroll;
}

.content>select {
	font-size: 18px;
	margin-left: 400px;
	height: 32px;
}

table {
	margin: 0 auto;
}

.subtitle {
	float: left;
	height: 338px;
	transform: matrix3dscale();
}

.subtitle>h1 {
	font-size: 50px;
	color: #fff;
	font-weight: bold;
	transition: .5s;
	text-shadow: 0 1px 0 #ccc, 0 1px 15px rgba(0, 0, 0, .2), 0 2px 0 #ccc, 0
		3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0
		8px 0 #ccc, 0 9px 0 #ccc, 0 10px 0 #ccc, 0 11px 0 #ccc, 0 12px 0 #ccc,
		0 10px 20px rgba(0, 0, 0, .5);
}

.subtitle>h1:hover {
	text-shadow: 0 1px 0 #ccc, 0 1px 15px rgba(0, 0, 0, .2), 0 2px 0 #ccc, 0
		3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0
		8px 0 #ccc, 0 9px 0 #ccc, 0 10px 0 #ccc, 0 11px 0 #ccc, 0 12px 0 #ccc,
		0 20px 30px rgba(0, 0, 0, .5);
}

.footer {
	text-align: center;
	border-top: 1px solid #aaa;
	margin: 95px 20px 0;
	font-size: 12px;
}

input[type=text] {
	width: 500px;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: .3s;
	font-size: 15px;
}

input[type=text]:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}

.container {
	display: table;
}

.nav, .content {
	display: table-cell;
}

.container {
	background: url('img/bg.png') repeat-y #fff;
}

#back-img {
	background-image: url(img/p1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: auto;
	color: white;
	font-size: 50px;
	font-family: 'K2D', sans-serif;
	text-align: center;
	font-weight: bold;
	line-height: 400px;
	margin-left: 80px;
	margin-right: 80px;
	font-style: italic;
}

button {
	background-color: transparent;
	border: 0;
	color: dodgerblue;
	font-size: 20px;
	font-family: 'K2D', sans-serif;
	font-weight: 600;
	outline: 0;
	margin-top: 60px;
}

#board_table {
	border-collapse: collapse;
	width: 1000px;
}

th, td {
	border-bottom: 1px solid darkgray;
}

#board_table * {
	text-align: center;
	padding: 10px;
	font-size: 18px;
}

th {
	background-color: aliceblue;
	color: dimgray;
}

#paging {
	text-align: center;
	font-size: 18px;
}

#height_p {
	height: 10px;
}

.adv {
	border: 1px solid black;
	width: 380px;
	height: 520px;
	margin-left: 1900px;
	margin-top: 10px;
}

select, input[type=text] {
	display: inline-block;
}